{% load bootstrap3 %}
{% load survey %}
{% load i18n %}

{% if no_poll %}
{% trans 'No current survey' %}
{% else %}
    <h3>{% blocktrans %}{{ poll }} survey{% endblocktrans %}</h3>

    {% if has_voted %}
        {% display_poll_chart poll=poll %}
        <p>
        {% blocktrans count votes_count=poll.votes_count %}A person has already voted.{% plural %}{{ votes_count }} people have already voted.{% endblocktrans %}
        </p>
    {% else %}
        <form method="post" action="{% url 'survey-vote' %}">
            {% csrf_token %}
            {% bootstrap_field form.choice show_label=False %}
            {% buttons %}
                <input type="submit" value="{% trans 'Vote' context 'verb' %}" class="btn btn-primary btn-block" />
            {% endbuttons %}
        </form>
    {% endif %}

{% endif %}
<div class="text-center">
<a class="btn btn-default" href="{% url 'survey-list' %}">{% trans 'previous surveys' %}</a>
</div>
