{% load staticfiles %}
{% load cache %}
{% load i18n %}
{% load get_ftps %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portail étudiant de Supélec, Metz">
        <meta name="author" content="Rézo, Supélec Metz - Paiji Developpers">

        <title>Paiji2 | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/images/favicon.png' %}" />

        <!-- LIBRARIES -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'morris.js/morris.css' %}" />

        <!-- CUSTOM -->
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/base.css' %}" />
        {% block style %}{% endblock %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'raphael/raphael-min.js' %}"></script>
        <script src="{% static 'morris.js/morris.min.js' %}"></script>
    </head>

    <body>
        <header>
        <nav class="navbar navbar" role="navigation" id="header">
        {% if request.user and request.user.sidebar_right|length == 0 and request.user.sidebar_left|length == 0 %}
        <div class="alert alert-head alert-info">
            <p class="text-center">
            {% trans 'Your page is empty, you can add modules (carpool, shoutbox, weather, etc.) with the following link :' %}
            <br />
            <a href="{% url 'modular-change' %}">{% trans 'personalize my page' %}</a>
            </p>
        </div>
        {% endif %}
        <div id="quota-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 pull-left">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        {# <label class="label label-default" for="language">language</label> #}
                        <input  name="next" type="hidden" value="{{ redirect_to }}" />
                        <select class="languages" name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input class="languages" type="submit" value="go"/>
                    </form>
                    </div>
                    <div class="col-md-4">IP: {{ request.META.REMOTE_ADDR }} ({{ request.user }})</div>
                    {% if request.user.id_rezo %}
                    {% cache 30 rezo-quotas request.user.id_rezo %}
                    <div class="col-md-2 quota-field-normal">
                        {{ request.user.get_rezo.quotas.up_restant|filesizeformat }}
                        <i class="glyphicon glyphicon-upload"></i>
                    </div>
                    <div class="col-md-2 quota-field-normal">
                        {{ request.user.get_rezo.quotas.down_restant|filesizeformat }}
                        <i class="glyphicon glyphicon-download"></i>
                    </div>
                    {% endcache %}
                    <div class="col-md-1">
                        <a href="{% url 'logout' %}" class="auth-button sign-out pull-right">
                            {% trans 'logout' %}
                        </a>
                    </div>
                    {% else %}
                    <div class="col-md-3">
                        <a href="{% url 'sign-in' %}" class="auth-button sign-in pull-right">{% trans 'login' %}</a>
                        <a href="{% url 'account-claim' %}" class="auth-button sign-in pull-right">{% trans 'sign in' %}</a>
                    </div>
                    {% endif %}

                    {% if request.user.cotisation_warning %}
                        <div class="col-sm-12 quota-field-normal">
                            <div class="pull-left cotisation-warning">
                            <span class="glyphicon glyphicon-fire"></span>
                            {% blocktrans with date=request.user.expire_on|date:"d/m/Y" %}Your due expires on {{ date }} !{% endblocktrans %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand logo-nav logo" href="{% url 'index' %}">
                    <img id="icon" src="{% static 'home/images/paiji.png' %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% if request.user.is_authenticated and request.user.get_related_groups %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="glyphicon glyphicon-user"></i>
                        {% trans 'My groups' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for group in request.user.get_related_groups %}
                        <li><a href="{{ group.get_absolute_url }}">{{ group }}</a></li>
                        {% endfor %}
                    </ul>

                    </li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'cov-list' %}">
                        <span class="glyphicon glyphicon-road"></span>
                        {% trans 'Car pool' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'forum:topic-list' %}">
                            <span class="glyphicon glyphicon-list"></span>
                            {% trans 'Forum' %}
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                    <form class="navbar-form navbar-left" action="http://porygon.rez/search?" method="get" role="search">
                        <div class="form-group">
                            <input type="text" name="query" class="form-control" placeholder="{% trans 'FTP search' %}">
                        </div>
                    </form>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rez <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        <li><a href="http://integrator.rez">Integrators</a></li>
                        <li><a href="http://noodle.rez">Polardator</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'bulletin-board' %}">{% trans 'Shoutbox' %}</a></li>
                    </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">FTP <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% get_ftps %}
                    </ul>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Supélec <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://portail-appliweb.supelec.fr:81/ENT/Default.aspx">ENT (legacy)</a></li>
                        <li><a href="https://ent-reloaded.supelec.fr">ENT (reloaded)</a></li>
                        <li><a href="http://ntnoe.metz.supelec.fr/">NTNOE</a></li>
                        <li><a href="https://moodle.supelec.fr/">Moodle</a></li>
                        <li><a href="http://sogo.supelec.fr/">Webmail (sogo)</a></li>
                        <li><a href="https://ntnoe.metz.supelec.fr/ical/index.php">{% trans 'Download my timetable in ical' %}</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rézo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        <li><a href="https://docs.google.com/forms/d/1WDKFqZHrQSHRJWGtCoCylqPmNzTSPJu0R_pCAw8QsDs/viewform?usp=send_form">{% trans 'groups registration' %}</a></li>
                        <li><a href="https://rezo.rez/">rezo.rez</a></li>
                        {% endif %}
                        <li><a href="{% url 'account' %}">{% trans 'Quotas & registered equipment' %}</a></li>
                        <li><a href="http://wiki.rezometz.org/">{% trans 'rezo wiki' %}</a></li>
                    </ul>
                    </li>
                </ul>
            </div>

        </div>
        </nav>
        </header>

        <div id="main" class="container clearfix">
            {% block layout %}{% endblock %}
        </div>

        <div class="container">
            <footer>
            <hr>
            <div class="row">
                <div class="col-lg-5">
                    <p>Copyright &copy; Rézo, Supélec Metz, {% now "Y" %}</p>
                </div>
                <div class="col-lg-3">
                    <p><a href="{% url 'modular-change' %}">{% trans 'personalize my page' %}</a></p>
                </div>
                <div class="col-lg-4">
                    <p class="pull-right">{% trans 'bugs or suggestions : ' %} <a href="mailto:{{ admin_email }}">{{ admin_email }}</a></p>
                </div>
            </div>
            </footer>
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>

</html>
