{% load staticfiles %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portail étudiant de Supélec, Metz">
        <meta name="author" content="Rézo, Supélec Metz - Paiji Developpers">

        <title>Paiji2 | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/images/favicon.png' %}" />

        <!-- LIBRARIES -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'morris.js/morris.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'flag-icon-css/css/flag-icon.min.css' %}" />

        <!-- CUSTOM -->
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/base.css' %}" />
        {% block style %}{% endblock %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'raphael/raphael-min.js' %}"></script>
        <script src="{% static 'morris.js/morris.min.js' %}"></script>

        <!-- TRANSLATIONS -->
        {% for language in languages %}{% if not language.code == LANGUAGE_CODE %}
        <link rel="alternate" hreflang="{{ language.code }}" href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"/>
        {% endif %}{% endfor %}
    </head>

    <body>
        {% include 'navbar.html' %}
        <div id="main" class="container clearfix">
            {% block layout %}{% endblock %}
        </div>

        <div class="container">
            <footer>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <small>
                    <div class="pull-left">
                        <a class="logo" type="_blank" href="http://www.gnu.org/licenses/agpl-3.0.html">
                            <img src="{% static 'home/images/agpl.png' %}" alt="Affero GPL v3">
                        </a>
                        <p>
                            <a type="_blank" href="https://github.com/rezometz/paiji2">
                                Website code :
                            </a> Copyright &copy; 2014-{% now "Y" %} Rézo, Supélec Metz - Paiji Developers
                        </p>
                    </div>
                    </small>
                </div>
                <div class="col-lg-4 text-center">
                    <a class="btn btn-default" href="{% url 'modular-change' %}">{% trans 'personalize my page' %}</a>
                </div>
                <div class="col-lg-4">
                    <p class="pull-right">{% trans 'bugs or suggestions : ' %} <a href="mailto:{{ admin_email }}">{{ admin_email }}</a></p>
                </div>
            </div>
            </footer>
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>

</html>
