{% extends "home/base.html" %}
{% load staticfiles %}

{% block title%}Home{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}" />{% endblock %}

{% block right-sidebar %}
<div class="col-md-3">
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <div class="city-name">Metz</div>
                <p class="current-temp">10 C <span class="weather-description">Beau temps</span></p>
            </div>
            <div class="col-md-4">
            <i href="" class="weather-icon" data-icon="K"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"><i href="" class="weather-icon" data-icon="A"></i><p>Aurjourd'hui</br>14 - 3</p></div>
            <div class="col-md-4"><i href="" class="weather-icon" data-icon="D"></i><p>Demain</br>14 - 3</p></div>
            <div class="col-md-4"><i href="" class="weather-icon" data-icon="G"></i><p>Vendredi</br>14 - 3</p></div>
        </div>
    </div>

    <div class="well">
        <h3>Shout Box</h3>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Pseudo">
          <span class="input-group-addon">Says</span>
          <input type="text" class="form-control" placeholder="Message">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>

        <table class="table table-striped">
            <tbody>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
                <tr><td><span class="speaker-name">User1: </span>Can anyone download and upload on FTSs the hole season of "Intelligence","TomorrowPeople"</td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block left-sidebar %}
<div class="col-md-3">
    <div class="well">
        <h3>Prochainnement</h3>
        <p class="text-center"><a href="http://calendar.rez">Calendar</a></p>
        <table class="table table-striped">
            <tbody>
                <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
                <tr><td><span class="begin-time">18:30 </span>Final Championnat de France de Handball Feminin - F002</td></tr>
                <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
                <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
                <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
                <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <h3>Covoiturage</h3>
        <p class="text-center"><a href="http://calendar.rez">COV Service</a></p>
        <table class="table table-striped">
            <tbody>
                <tr><td class="begin-time">Celia</br><span class="label label-success">Offre</span></td><td>Metz-Paris, 17h, 04/05/2014</td></tr>
                <tr><td class="begin-time">Thibaut</br><span class="label label-danger">Demande</span></td><td>Metz-Paris, 17h, 04/05/2014</td></tr>
                <tr><td class="begin-time">Helene</br><span class="label label-success">Offre</td><td>Metz-Paris, 17h, 04/05/2014</td></tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <h3>Anniversaire</h3>
        <p>Aujourd'hui, 10/04/2014, c'est le jour spécial de : </p>
        <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
        <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
        <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
        <p>Joyeux anniversaire!</p>
    </div>

    <div class="well">
        <h3>Status</h3>
        <table class="table table-striped">
            <tbody>
                <tr><td>Web</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
                <tr><td>TV</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
                <tr><td>IRC</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <div class="well info-rezo">
        <h3>Info</h3>
        <p>
            Bienvenue sur Paiji2 ! Ce site est en début de développement et n'hésitez pas à donner vos idées tant que c'est pas trop tard!
        </p>
        <p>
            Enjoy!
        </p>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-2"><img class="poster-icon" src="{% static 'home/images/paiji.png' %}"></div>
            <div class="col-md-10">
                <h4>Rezo</h4>
                <p>26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>
</div>
{% endblock %}