{% extends "home/base.html" %}
{% load staticfiles %}

{% block title%}Home{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}" />{% endblock %}



{% block content %}

{% load cov_proposal_modal %}
{% get_proposal_modal %}


<div class="col-md-6">
    <div class="well info-rezo">
        <h3>Info</h3>
        <p>
            Bienvenue sur Paiji2 ! Ce site est en début de développement. N'hésitez pas à donner vos avis sur les fonctionalités qu'on garde et les fonctionalités qu'on supprime. Les fonctionalités sont aussi reorganisé dans les onglets.
        </p>
        <p>
            Ce prototype sert <strong>uniquement</strong> pour vous donner une idées vers où on va au niveau de l'organisation du Paiji (les fonctionalités sont pas encore implémentées!), vous pouvez revenir sur cette page pour suivre le développement.
        </p>
        <p>
            Vous pouvez contacter: <a href="rezo@metz.supelec.fr">rezo@metz.supelec.fr</a> ou <a href="mailto:me@siqi.fr">me@siqi.fr</a> pour des suggestions et des remarques.
        </p>
        <p>
            Excusez-moi de mon français de grande qualité et enfin dite bonjour à votre <strong>Paiji2</strong>!
        </p>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Rézo', 'Hours per Day'],
          ['Rézo Supélec',     11],
          ['Supélec Rézo',      2],
          ['Rézo Metz Supélec',  2],
        ]);

        var options = {
          legend: 'none',
          pieHole: 0,
          'chartArea': {'width': '100%', 'height': '80%'},
          backgroundColor: { fill:'transparent' },
          'legend': {'position': 'bottom'},
        };

        var chart = new google.visualization.PieChart(document.getElementById('poll-result'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}
