{% extends "home/base.html" %}
{% load staticfiles %}
{% load alerts %}


{% block title%}Home{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}" />{% endblock %}



{% block content %}

<div class="col-md-6">
    {% display_alerts %}
    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-sm-2"><img class="poster-icon" src="{% static 'home/images/rezo.png' %}"></div>
            <div class="col-sm-10 poster-info">
                <h4 class="poster-name">Rezo</h4>
                <p class="post-time">26 min</p>
            </div>
        </div>
        <div class="news-content">
            Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Today, it's the beginning of a new era! Paiji got it's reborn! Horay!
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
