{% load readmore %}
{% load comment %}
{% load i18n %}
{% load bootstrap3 %}

<div class="row">
	<div class="col-md-8">
        <h3>{% trans 'News' %}
        	<span class="newsfeed-action">
		        {% if request.user.is_authenticated %}
		        <a href="{% url 'newsfeed-add' %}"><i class="fa fa-plus"></i></a>

		        <a href="{% url 'feed-latest' %}"><i class="fa fa-rss"></i></a>
		        {% endif %}
			</span>
		</h3>
    </div>

    {% comment %}
    <div class="col-md-4 pagination-container">
    	<ul class="pagination pagination-sm pull-right">
			<li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
			{% if page_obj.has_previous %}
			<a href="{% url 'index' page=page_obj.previous_page_number %}">
				{% else %}
				<a href="#">
					{% endif %}
					&laquo;
				</a>
			</li>
			<li class="disabled"><a href="#">...</a></li>
			<li class="active"><a href="#">{{ page_obj.number }}</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li{% if not page_obj.has_next %} class="disabled"{% endif %}>
			{% if page_obj.has_next %}
			<a href="{% url 'index' page=page_obj.next_page_number %}">
				{% else %}
				<a href="#">
					{% endif %}
					&raquo;
				</a>
			</li>
		</ul>
	</div>
    {% endcomment %}
    {% bootstrap_pagination page_obj %}
</div>


{% for item in news %}
<div class="well">
    <div class="row">
        <div class="col-sm-2"><img class="author-icon" src="{{ item.group.logo.url }}"></div>
        <div class="col-sm-10">
        	{% if item.author == request.user %}
            	<span class="pull-right">
                <a href="{% url 'newsfeed-edit' item.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'newsfeed-delete' item.id %}"><i class="fa fa-trash-o"></i></a></span>
        	{% endif %}
            <h4 class="message-title">{{ item.title }}
            {% if request.user.is_authenticated %}
                {% if item.public %}
                <span class="label label-success">{% trans 'public' %}</span>
                {% else %}
                <span class="label label-warning">{% trans 'internal' %}</span>
                {% endif %}
            {% endif %}
            </h4>
            <p class="text-muted"><a href=
            {% if request.user.is_authenticated %}
            {% blocktrans with email=item.author.email subject='"'|add:item.title|add:'"'|urlencode %}"mailto:{{ email }}?subject=[Paiji2] About : {{ subject }}"{% endblocktrans %}
            {% else %}
            "{% url 'sign-in' %}"
            {% endif %} 
            ><i class="glyphicon glyphicon-envelope"></i> {{ item.author.first_name }} </a>
            {% blocktrans with group=item.group TimeSince=item.pubDate|timesince %}for {{ group }}, {{ TimeSince }} ago{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="news-content">
        {{ item.content|safe }}
    </div>

    {% display_comment_area on_message=item nb=20 %}
</div>
{% endfor %}

<div class="row">
    <div class="col centered pagination-container">
    {% comment %}
    	<ul class="pagination pagination-sm centered">
			<li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
			{% if page_obj.has_previous %}
			<a href="{% url 'index' page=page_obj.previous_page_number %}">
				{% else %}
				<a href="#">
					{% endif %}
					&laquo;
				</a>
			</li>
			<li class="disabled"><a href="#">...</a></li>
			<li class="active"><a href="#">{{ page_obj.number }}</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li{% if not page_obj.has_next %} class="disabled"{% endif %}>
			{% if page_obj.has_next %}
			<a href="{% url 'index' page=page_obj.next_page_number %}">
				{% else %}
				<a href="#">
					{% endif %}
					&raquo;
				</a>
			</li>
		</ul>
    {% endcomment %}
    {% bootstrap_pagination page_obj %}
	</div>
</div>
