{% load cov_tag %}
{% load cov_proposal_modal %}
<div class="well">
    <h3>Prochainement</h3>
    <p class="text-center"><a href="http://calendar.rez">Calendar</a></p>
    <table class="table table-striped">
        <tbody>
            <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
            <tr><td><span class="begin-time">18:30 </span>Final Championnat de France de Handball Feminin - F002</td></tr>
            <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
            <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
            <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
            <tr><td><span class="begin-time">18:30 </span>Rezo AG - F002</td></tr>
        </tbody>
    </table>
</div>

{% get_cov %}

<div class="well">
    <h3>Annonces</h3>
    <div class="row text-center">
        <div class="col-sm-6">
            <a data-toggle="modal" data-target="#propose-annonce" href="#">
                Ajouter
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr><td><span class="begin-time"><a href="mailto:a@b.c"><i class="glyphicon glyphicon-envelope"></i> Nicolas</a> </span>a trouvé une clé USB dans F204</td></tr>
            <tr><td><span class="begin-time"><a href="mailto:a@b.c"><i class="glyphicon glyphicon-envelope"></i> Pierre</a></span> cherche 500 euros perdu dans F001</td></tr>
            <tr><td><span class="begin-time"><a href="mailto:a@b.c"><i class="glyphicon glyphicon-envelope"></i> Guiillaume</a></span> vend iPhone 8 à 3 euros au PAPS</td></tr>
        </tbody>
    </table>
</div>

<div class="well">
    <h3>Anniversaire</h3>
    <p>Aujourd'hui, 10/04/2014, c'est le jour spécial de : </p>
    <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
    <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
    <p class="anniver-item"><i class="glyphicon glyphicon-user"></i> Paiji Rezo</p>
    <p>Joyeux anniversaire!</p>
</div>

<div class="well">
    <h3>Server Status</h3>
    <table class="table table-striped">
        <tbody>
            <tr><td>Web</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
            <tr><td>TV</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
            <tr><td>IRC</td><td class="status-label"><span class="label label-success">Production</span></td></tr>
        </tbody>
    </table>
</div>
