body {
    background-color: #eee;
}

#main {
    width: 100%;
}

.sidebar-left {
    padding-left: 3px;
    padding-right: 0px;
}

.sidebar-right {
    padding-left: 0px;
    padding-right: 3px;
}

.navbar {
    background-color: #27ae60;
}

.nav a {
    color: #ffffff;
}
.navbar-brand {
    padding-top: 5px;
}

a {
    color: #072;
    padding: 3px;
}

a:not(.logo):hover {
    color: #fff;
    background-color: #072;
    text-decoration: none;
}

a.gravatar:hover {
    opacity: 0.6;
}

a.gravatar:hover img {
    transform: scale(0.9,0.9);
}

#quota-bar {
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #2ecc71;
}

#quota-bar div.quota-field-danger {
    background-color: #c0392b;
}

#quota-bar div.quota-field-normal {
    background-color: inherit;
}

.navbar-nav .open>a, .nav> .open>a:hover, .nav .open>a:focus {
    background-color: #2ecc71;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
}

.navbar-nav > li > a:hover {
    background-color: #2ecc71;
}

.navbar-nav > li > a:focus {
    background-color: inherit;
}

.dropdown-menu {
    z-index: 10;
}

footer {
    padding: 30px 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-nav {
    padding-top: 5px;
}

#icon {
    width: 150px;
    z-index: 1;
}
.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.well {
    word-wrap: break-word;
}

.well .unbreakable {
    word-wrap: normal;
}
.alert-head {
    margin-bottom: 0px;
    border-radius: 0px;
}

.dark-text a {
    color: #2980b9;
}

.auth-button {
    color: white;
    font-size: 13px;
    height: 100%;
    padding: 1px 10px 1px 10px;
    margin: 0px 3px 0px 3px;
}

.sign-out {
    background-color: #e67e22;
}

.sign-in {
    background-color: #27ae60;
}

.cotisation-warning {
    background-color: #c0392b;
    font-size: 13px;
    height: 100%;
    padding: 1px 10px 1px 10px;
    margin: 1px 0px;
}

.disabled-eq {
    background-color: #e67e22;
}

.languages {
    color: #FFF;
    background-color: #27ae60;
}
.flag-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 2px black;
    overflow: hidden;
    margin-bottom: 20px;
}

.flag-wrapper:after {
    padding-top: 75%; /* ratio */
    display: block;
    content: '';
}

.flag-wrapper .flag {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
