

.well h3{
	word-wrap: break-word;
	font-size: 22px;
}

.right-sidebar {
	width: 30%;
	display: block;
	float: right;
}

.left-sidebar {
	width: 20%;
	display: block;
	float: left;
}

.status-label {
	text-align: right;
}

.speaker-name {
	color: #27ae60;
}

.info-rezo {
	background-color: #ecf0f1;
	color: #34495e;
}

.info-rezo a {
	color: #27ae60ee;
}

.table {
	margin-top: 20px;
	/*overflow: auto;*/
	word-wrap: break-word;
	table-layout: fixed;
}

.anniver-item {
	font-size: 20px;
	color: #27ae60;
}

.author-info {
	height: 40px;
}

h4.author-name {
	margin: 0px;
}

.firstLetter {
	font-size: 22px;
}

.author-icon {
	width: 100%;
}

#poll-result {
	text-align: center;
}

.newsfeed-action {
    font-size: 14px;
}

.comments {
	background-color: #ecf0f1;
	padding: 5px;
}

.comments hr {
	border-color: #bdc3c7;
}
