{% extends 'home/layout_three_columns.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Forum{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "forum/style.css" %}"/>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <h3>
            Forum
            <span class="forum-action">
                <a href="{% url 'forum:new' %}">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </h3>
    </div>
</div>{# row #}

<nav class="navbar navbar-default navbar-forum">
    <ul class="nav nav-tabs nav-justified nav-forum">
        <li class="{% block class-recent %}{% endblock %}">
            <a href="{% url 'forum:recent-list' %}">
                <span class="glyphicon glyphicon-time"></span>
                récents
            </a>
        </li>
        <li class="{% block class-unread %}{% endblock %}">
            <a href="{% url 'forum:unread' %}">
                <span class="glyphicon glyphicon-eye-close"></span>
                non lus
            </a>
        </li>
        <li class="{% block class-topics %}{% endblock %}">
            <a href="{% url 'forum:topic-list' %}">
                <span class="glyphicon glyphicon-list"></span>
                topics
            </a>
        </li>
        <li class="{% block class-new %}{% endblock %}">
            <a href="{% url 'forum:new' %}">
                <span class="glyphicon glyphicon-pencil"></span>
                nouveau
            </a>
        </li>
    </ul>
</nav>

<div class="well">

{% block forum-top-nav %}
{% endblock %}

    {% if is_paginated %}
    <div class="row">
        <div class="centered pagination-container">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}

    {% block forum-content %}{% endblock %}

    {% if is_paginated %}
    <div class="row">
        <div class="centered pagination-container">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
