{% load static %}


{{ form.non_field_errors }}

<div class="forum-icon-selector">
    {{ form.icon.errors }}
    {% for radio in form.icon %}
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">
        <img class="icon" src="{% static radio.choice_label %}" alt="{{ radio.choice_label }}"/> 
        </label>
    {% endfor %}
</div>

{{ form.title.errors }}

<div class="input-group">
<span class="input-group-addon">titre</span>
{{ form.title }}
</div>

{{ form.text.errors }}

<div class="input-group">
<span class="input-group-addon">texte</span>
{{ form.text }}
</div>


