{% load static %}
{% load bootstrap3 %}
{% load i18n %}


<div class="form-group">

    {{ form.non_field_errors }}

    <div class="forum-icon-selector">
        {{ form.icon.errors }}
        {% for radio in form.icon %}
            {{ radio.tag }}
            <label for="{{ radio.id_for_label }}">
            <img class="icon" src="{% static radio.choice_label %}" alt="{{ radio.choice_label }}"/> 
            </label>
        {% endfor %}
    </div>

    <label for="title">{% trans 'Titre' %}</label>
    {% bootstrap_field form.title show_label=False %}

    <label for="text">{% trans 'Corps du message' %}</label>
    {% bootstrap_field form.text show_label=False %}

</div>


