{% extends "forum/base.html" %}
{% load static %}

{% block class-topics %}active{% endblock %}

{% block pagination-bottom %}
{% include 'forum/topic-pagination.html' %}
{% endblock %}

{% block pagination-up %}
{% include 'forum/topic-pagination.html' %}
{% endblock %}

{% block forum_content %}

{% for msg, padding in object_list %}
<div class ="forum-entry" style="margin-left: {{ padding }}px;">
    <header class="{% if msg.is_topic %}forum-topic{% else %}forum-entry{% endif %}" {% block header_id %}{% endblock %}>
    {% include 'forum/subheader.html' %}
    </header>
    {% block text %}{% endblock %}
</div> {# class="entry" #}
{% endfor %}

{% endblock %}

