{% extends 'forum/index.html' %}

{% block class-topics %}{% endblock %}

{% block forum-top-nav %}

<nav class="navbar navbar-default">
<ul class="nav nav-pills nav-justified">
    <li {% if not prev_topic %}class="disabled"{% endif %}>
        <a href={% if prev_topic %}"{% url 'forum:message' prev_topic.pk %}#forum-message"{% else %}"#"{% endif %}>
        <span class="glyphicon glyphicon-chevron-left"></span>
        topic
        </a>
    </li>
        <li {% if not up %} class="disabled"{% endif %}>
        <a href={% if up %}"{% url 'forum:message' up.pk %}#forum-message"{% else %}"#"{% endif %}>
        <span class="glyphicon glyphicon-chevron-up"></span>
        précédent
        </a>
    </li>
    <li>
        <a href="{% url 'forum:topic' message.pk %}#forum-message">
        <span class="glyphicon glyphicon-fullscreen"></span>
        tout lire
        </a>
    </li>
    <li {% if not down %} class="disabled"{% endif %}>
        <a href={% if down %}"{% url 'forum:message' down.pk %}#forum-message"{% else %}"#"{% endif %}>
        <span class="glyphicon glyphicon-chevron-down"></span>
        suivant
        </a>
    </li>
    <li {% if not next_topic %}class="disabled"{% endif %}>
        <a href={% if next_topic %}"{% url 'forum:message' next_topic.pk %}#forum-message"{% else %}"#"{% endif %}>
        topic
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </li>
</ul>
</nav>

{% endblock %}

{% block text %}
    {% if msg == message or msg == question %}
        {% include 'forum/text_message.html' %}
    {% endif %}
    {% if msg == message %}
        {% block answer_form %}{% endblock %}
    {% endif %}
{% endblock %}

{% block forum-bottom-nav %}
{% comment %}
<nav class="navbar navbar-default">
<ul class="nav nav-pills nav-justified">
    <li {% if not prev %}class="disabled"{% endif %}>
        <a href={% if not prev %}"#"{% else %}"{% url 'forum:message' prev.pk %}"{% endif %}>
            <span class="glyphicon glyphicon-step-backward"></span>
            publié avant
        </a>
    </li>
    <li {% if not next %}class="disabled"{% endif %}>
        <a href={% if not next %}"#"{% else %}"{% url 'forum:message' next.pk %}"{% endif %}>
            publié après
            <span class="glyphicon glyphicon-step-forward"></span>
        </a>
    </li>
</ul>
{% endcomment %}
{% endblock %}
