{% extends "forum/base.html" %}
{% load static %}

{% block class-recent %}active{% endblock %}

{% block pagination-bottom %}
{% include 'forum/news-pagination.html' %}
{% endblock %}

{% block pagination-up %}
{% include 'forum/news-pagination.html' %}
{% endblock %}

{% block forum-content %}

{% for msg in object_list %}
<div class ="forum-entry">
    <header class="forum-entry" {% block header_id %}{% endblock %}>
        {% include 'forum/subheader.html' %}
        <span class="forum-topic-indic">[topic: <span class="forum-topic-title"> {{ msg.topic.title }}</span>]
        </span>
    </header>
    {% block text %}
    {% endblock %}
</div> {# class="entry" #}
{% endfor %}

{% endblock %}
