{% if is_paginated %}

<ul class="pagination pagination-sm">

{% if page_obj.has_previous %}
    {% if page_obj.previous_page_number != 1 %}
<li><a href="{% url 'forum:recent-page' 1 %}">1</a></li>
<li class="disabled"><a href="#">…</a></li>
    {% endif %}
<li><a href="{% url 'forum:recent-page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
{% endif %}

<li class="active"><a href="#">{{ page_obj.number }}</a></li>

{% if page_obj.has_next %}
<li><a href="{% url 'forum:recent-page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
    {% if page_obj.next_page_number != paginator.num_pages %}
<li class="disabled"><a href="#">…</a></li>
<li><a href="{% url 'forum:recent-page' paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
    {% endif %}
{% endif %}

</ul>
{% endif %}
