{% load static %}

<a class="forum-message-title"
{% if expand %}
href="{% url 'forum:topic' msg.pk %}#forum-message"
{% else %}
href="{% url 'forum:message' msg.pk %}#forum-message"
{% endif %}
title="[{{ msg.lectures }} lecture{{ msg.lectures|pluralize }}]">
    <img class="forum-icon" src="{% static msg.icon.url %}" alt="{{ msg.icon.name }}"/>
    {{ msg.title }}
</a>
<small> 
    <a class="forum-author" href="{% url 'forum:message' msg.pk %}#forum-message" title="{{ msg.author.first_name }} {{ msg.author.last_name }} ({{ msg.author }})">
        {{ msg.author.first_name }}
    </a>
    <span class="text-muted">il y a {{ msg.pub_date|timesince }}</span>
</small>

