{% load static %}
<img class="forum-icon" src="{% static msg.icon.url %}" alt="{{ msg.icon.name }}"/>
<a class="forum-message-title" href={% block msgurl %}"{% url 'forum:message' msg.pk %}#forum-message"{% endblock %} title="[{{ msg.lectures }} lecture{{ msg.lectures|pluralize }}]">
    {{ msg.title }}
</a>
<span class="text-muted"><small> par </small></span>
<span class="forum-author" title="{{ msg.author.first_name }} {{ msg.author.last_name }}"><b>{{ msg.author }}</b></span>
<span class="text-muted"><small> il y a {{ msg.pub_date|timesince }}</small></span>
<a href="{% url 'forum:answer' msg.pk %}#forum-answer">
    <small>
    répondre
    <span class="glyphicon glyphicon-pencil"></span>
    </small>
</a>
