{% extends "home/layout_three_columns.html" %}

{% load gravatar %}
{% load cache %}
{% load i18n %}

{% block title %}{{ profile }}{% endblock %}

{% block content %}
<div class="well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <a class="gravatar logo" href="{% gravatar_profile_url profile.email %}">
                {% gravatar profile.email 150 %}
                </a>
            </div>
            <div class="col-lg-9">
                <dl class="dl-horizontal">
                    <dt>{% trans 'Pseudonym' %}</dt>
                    <dd>{{ profile.username }}</dd>
                    <dt>{% trans 'First name' %}</dt>
                    <dd>{{ profile.first_name }}</dd>
                    <dt>{% trans 'Last name' %}</dt>
                    <dd>{{ profile.last_name }}</dd>
                    <dt>{% trans 'Email' %}</dt>
                    <dd>
                    <a href="mailto:{{ profile.email }}" title="{% trans 'Send mail' %}">
                        <i class="fa fa-envelope"></i>
                        {{ profile.email }}
                    </a>
                    </dd>
                    {% if profile.get_rezo %}
                    <dt>{% trans 'School' %}</dt>
                    <dd>{{ profile.get_rezo.ecole }}</dd>
                    <dt>{% trans 'Class' %}</dt>
                    <dd>{{ profile.get_rezo.precisionecole }}</dd>
                    {% endif %}
                    {% if profile.get_room %}
                    <dt>{% trans 'Room' %}</dt>
                    <dd>{{ profile.get_room }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        {% if profile.posts.all %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">
                    <i class="fa fa-people"></i>
                    {% trans 'Associations & Groups' %}
                </h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans 'bureau' %}</th>
                        <th>{% trans 'post' %}</th>
                        <th>{% trans 'beginning' %}</th>
                        <th>{% trans 'end' %}</th>
                    </tr>
                    </thead>
                    {% for post in profile.posts.all %}
                    <tr>
                        <td><a href={% url 'workgroup-view' post.bureau.group.slug %}>{{ post.bureau }}</a></td>
                        <td>{{ post.postType }}</td>
                        <td>{{ post.bureau.createdDate|date:"F Y" }}</td>
                        <td>{{ post.bureau.endDate|date:"F Y" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}
