{% extends 'home/layout_three_columns.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Modifier le mot de passe' %}{% endblock %}

{% block content %}
<div class="well">
    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="{% trans 'Enregistrer' %}"
        class="btn btn-primary pull-right" />
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}
