{% extends 'home/layout_three_columns.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ _('reset password')|title }}{%endblock%}

{% block content %}
<div class="well">
<h3>{{ title }}</h3>
{% if form %}
    <h1>{% trans 'Reset your password' %}</h1>
    <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="{{ _('reset')|title }}" class="btn btn-primary btn-block" />
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
{% endif %}
</div>
{% endblock %}
