{% extends 'home/layout_three_columns.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Réinitialisation du mot de passe' %}{%endblock%}

{% block content %}
<div class="well">
    <h1>{% trans 'Mot de passe oublié' %}</h1>
    <p>
    {% blocktrans %}Entrez l'adresse email associée à votre compte pour récupérer votre mot de passe.{% endblocktrans %}
    </p>
    <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="{% trans 'Réinitialiser' %}" class="btn btn-primary pull-right" />
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}
