{% extends 'home/layout_three_columns.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Reset password' %}{%endblock%}

{% block content %}
<div class="well">
    <h1>{% trans 'Reset your password' %}</h1>
    <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="{% trans 'Reset' %}" class="btn btn-primary pull-right" />
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}
