{% load i18n %}
<h3>{% trans 'Prochains arrêts du Mettis' %}</h3>
<div class="list-group">
    {% for stop in stops %}
    {% if error %}
    <h4>{{ stop.error }}</h4>
    {% else %}
    <div class="list-group-item">
        <h5 class="list-group-item-heading">
                {{ stop.line }} - {% blocktrans with head=stop.direction stop=stop.from_stop %}Direction {{ head }} - arrêt {{ stop }}{% endblocktrans %}

            <a href="{{ url }}" title="{% trans 'Horaires de bus' %}" target="_blank">[{% trans 'Horaires de bus' %}]</a>
        </h5>
        <ul class="list-group-item-text">
            {% for time in stop.next_stops %}
            <li><b>
            {% blocktrans with in=time|timeuntil time=time|date:"H\hi" %}In {{ in }} at {{ time }}{% endblocktrans %}
        </b></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>
