
<div class="row text-center">
    {% if request.user.is_authenticated %}
    <div class="col-sm-3">
        <a data-toggle="modal" data-target="#propose-annonce" href="#">
            Ajouter
        </a>
    </div>
    {% endif %}
    <div class="col-sm-9">
        <a href="#">Toutes les annonces</a>
    </div>
</div>
{% load cache %}
{% cache 60 bulletin-board-short %}
<ul class="list-unstyled">
    {% for note in notes %}
    <li>
    <span class="begin-time">
        <a href="mailto:{{ note.author.email }}?subject={{ '[Paiji2] Concernant "'|add:note.message|add:'"'|urlencode }}"
            title="{{ note.author.first_name }} {{ note.author.last_name }} ({{ note.author }})">
            <i class="glyphicon glyphicon-envelope"></i>
            {{ note.author.first_name }}
        </a>
    </span>
    {{ note.message }}
    <span class="text-muted"><small>il y a {{ note.posted_at|timesince }}</small></span>
    </li>
    {% endfor %}
</ul>
{% endcache %}
