{% load readmore %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load bulletin %}
{% load i18n %}

<h3>{% trans 'Shoutbox' %}</h3>

<form action="{{ bulletin_add }}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-envelope"></i>
            {{ request.user.first_name }}
        </span>
        {% bootstrap_field form.message show_label=False %}
    </div>
    <input type="hidden" value="{{ request.path }}" name="next" />
    <br />
    {% buttons %}
    <button type="submit" style="display:none; position: absolute; left: -9999px; width: 1px; height: 1px;" class="btn btn-success pull-right"/>
    {% endbuttons %}
    <div class="clearfix"></div>
</form>

<ul class="list-unstyled">
    {% for note in notes %}
    <li>
    <div class="begin-time">
        <a href="{% url 'user-profile' username=note.author.username %}"
            title="{{ note.author.first_name }} {{ note.author.last_name }} ({{ note.author }})">
            {{ note.author.first_name }}
        </a>
        {% if note.author == request.user %}
            <span class="pull-right">
                <a href="{% url 'bulletin-edit' note.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'bulletin-delete' note.id %}"><i class="fa fa-trash-o"></i></a></span>
        {% endif %}
    </div>
    {{ note.message|urlize2|readmore:20 }}
    <span class="text-muted"><small>
    {% blocktrans with TimeSince=note.posted_at|timesince %}{{ TimeSince }} ago{% endblocktrans %}
    </small></span>
    </li>
    <hr>
    {% endfor %}
</ul>

<div class="row text-center">

{% comment %}
Just commenting that out for the time being, let's see how users react.
    {% if request.user.is_authenticated %}
    <div class="col-sm-4 unbreakable">
        <a href="{% url 'bulletin-add' %}">
            {% trans 'add' %}
        </a>
    </div>
    {% endif %}
{% endcomment %}

    <div class="col-sm-12 unbreakable">
        <a class="btn btn-default" href="{% url 'bulletin-board' %}">{% trans 'Records' %}</a>
    </div>
</div>
