{% extends "home/layout_three_columns.html" %}


{% load bootstrap3 %}

{% block title %}
    {% if form.instance and form.instance.pk %}
    Modify a note
    {% else %}
    Create a note
    {% endif %}
{% endblock %}
{% block content %}
<div class="well">
    {% if form.instance and form.instance.pk %}
    <h3>Modifier une note</h3>
    {% else %}
    <h3>Ajouter une note</h3>
    {% endif %}

    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
                {{ request.user.first_name }}
            </span>
            {% bootstrap_field form.message show_label=False %}
        </div>
        <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />
        <br />
        {% buttons %}
        <button type="submit" class="btn btn-success pull-right">
            {% if form.instance and form.instance.pk %}
                Mettre à jour
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}
