{% extends "home/layout_three_columns.html" %}

{% block title%}Shoutbox{% endblock %}

{% block content %}
{% load cache %}
{% cache 60 bulletin-board page_obj.number %}
    <div class="well">
        <h3>Listes des dernières notes</h3>
        <ul class="list-unstyled">
            {% for note in notes %}
            <li>
            <span class="begin-time">
                <a href="mailto:{{ note.author.email }}?subject={{ '[Paiji2] Concernant "'|add:note.message|add:'"'|urlencode }}"
                    title="{{ note.author.first_name }} {{ note.author.last_name }} ({{ note.author }})">
                    <i class="glyphicon glyphicon-envelope"></i>
                    {{ note.author.first_name }}
                </a>
            </span>
            {{ note.message | urlize}}<br />
            <span class="text-muted"><small>il y a {{ note.posted_at|timesince }}</small></span>
            </li>
            <hr>
            {% endfor %}
        </ul>

        <div class="pagination-container">
        <ul class="pagination pagination-sm">
            <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
                {% if page_obj.has_previous %}
                <a href="{% url 'bulletin-board' page=page_obj.previous_page_number %}">
                {% else %}
                <a href="#">
                {% endif %}
                    &laquo;
                </a>
            </li>
            <li class="disabled"><a href="#">...</a></li>
            <li class="active"><a href="#">{{ page_obj.number }}</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
                {% if page_obj.has_next %}
                <a href="{% url 'bulletin-board' page=page_obj.next_page_number %}">
                {% else %}
                <a href="#">
                {% endif %}
                    &raquo;
                </a>
            </li>
        </ul>
        </div>
    </div>
{% endcache %}
{% endblock %}
