{% load i18n %}
<h3>{% trans 'Upcoming concerts' %}</h3>
<ul class="list-unstyled">
    {% for event in events %}
        <li>
            <span class="label label-{{ event.label }}">{{ event.type }}</span>
            <span class="label label-danger">
            {% if event.is_free %}
                {{ _('free')|title }}
            {% else %}
                {{ event.cost }}
            {% endif %}
            </span>
            <a href="{{ event.url }}"><span class="summary">{{ event.summary }}</span></a>
            <br />
            <small>{{ event.organization.name }}
            <span class="text-muted" title="{{ event.date|date }}">
            {{ event.date|date:"DATETIME_FORMAT" }}
            {% comment %}
                {{ event.date|date:'l' }}, in {{ event.date|timeuntil }}
            {% endcomment %}
            </span>
            </small>

        </li>
    {% endfor %}
</ul>
