{% extends "home/layout_three_columns.html" %}
{# load staticfiles #}
{% load i18n bootstrap3 %}

{# block style #}<!-- <link rel="stylesheet" type="text/css" href="{# static 'cov/css/cov.css' #}" /> -->{# endblock #}

{% block title%}{% trans 'Covoiturages' %}{% endblock %}

{% block content %}

    <div class="well">

        <a class="btn btn-primary btn-block text-center" href="{% url 'cov-add' %}">
            <span class="glyphicon glyphicon-plus"></span>
            {% trans "Proposer un covoiturage" %}
        </a>

        <h3>{% trans 'Liste des derniers covoiturages' %}</h3>

        <ul class="list-unstyled">
            {% for cov in covs %}
            {% if not cov.isGood %}
                <li class="cov-item text-muted">
                    <span class="begin-time">
                    <span>
                        <i class="glyphicon glyphicon-envelope"></i>
                        {{ cov.author.first_name }} {{ cov.author.last_name }}
                    </span>
                    <span class="label label-default">
                    {{ cov.get_annonce_type_display }}</span>
                    </span>
                    {{ cov.notes }}<br/>
                    <span class="text-muted"><small>il y a {{ cov.posted_at|timesince }}</small></span>
            {% else %}
            <li class="cov-item">
                <span class="begin-time">
                <a href="mailto:{{ cov.author.email }}?subject={{ '[Paiji2] Concernant "'|add:cov.notes|add:'"'|urlencode }}"
                    title="{{ cov.author.first_name }} {{ cov.author.last_name }} ({{ cov.author }})">
                    <i class="glyphicon glyphicon-envelope"></i>
                    {{ cov.author.first_name }} {{ cov.author.last_name }}
                </a>
                {% if cov.annonce_type == 0 %}
                <span class="label label-success">
                {% else %}
                <span class="label label-danger">
                {% endif %}
                {{ cov.get_annonce_type_display }}</span>
                </span>
                {{ cov.notes }}<br/>
                <span class="text-muted"><small>il y a {{ cov.posted_at|timesince }}</small></span>
            {% endif %}

            {% if cov.author == request.user %}
                <div class="pull-right">
                    <a href="{% url 'cov-edit' cov.id %}"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'cov-delete' cov.id %}"><i class="fa fa-trash-o"></i></a>
                </div>
            {% endif %}
            
            </li>
            <hr>

            {% endfor %}
        </ul>


        {% comment %}
        <div class="pagination-container">
        <ul class="pagination pagination-sm">
            <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
                {% if page_obj.has_previous %}
                <a href="{% url 'cov-list' page=page_obj.previous_page_number %}">
                {% else %}
                <a href="#">
                {% endif %}
                    &laquo;
                </a>
            </li>
            <li class="disabled"><a href="#">...</a></li>
            <li class="active"><a href="#">{{ page_obj.number }}</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
                {% if page_obj.has_next %}
                <a href="{% url 'cov-list' page=page_obj.next_page_number %}">
                {% else %}
                <a href="#">
                {% endif %}
                    &raquo;
                </a>
            </li>
        </ul>
        </div>
        {% endcomment %}
        <div class="pagination-container">
        {% bootstrap_pagination page_obj %}
        </div>
    </div>
{% endblock %}
