<div class="well">
        <h3>Covoiturage</h3>
        <div class="row text-center">
            <div class="col-sm-6">
                <a data-toggle="modal" data-target="#propose-cov" href="#">
                  Proposer
                </a>

            </div>
            <div class="col-sm-6"><a href="#">Détails</a></div>
        </div>
        <table class="table table-striped">
            <tbody>
                {% for item in cov %}
                <tr><td><a href="mailto:{{item.poster_email}}"><i class="glyphicon glyphicon-envelope"></i> {{ item.poster }} </a>
                    {% if item.annonce_type == 0 %}
                    <span class="label label-success">
                    {% else %}
                    <span class="label label-danger">
                    {% endif %}
                        {{ item.get_annonce_type_display }}</span> {{ item.itinerary }}, {{ item.dept_datetime|date:'H:i, jS F' }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>