{% extends "home/layout_three_columns.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Carpool deletion confirmation' %}{% endblock %}

{% block content %}
<div class="well">
    <h3>{% trans 'Do you really want to delete this carpool ?' %}</h3>
    <p>'{{ object.notes }}'</p>

    <form action="" method="post" role="form">
        {% csrf_token %}

        <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />

        {% buttons %}
            <button type="submit" class="btn btn-danger btn-block">
                {% trans 'Delete' %}
            </button>
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>

{% endblock %}
