{% extends "home/layout_three_columns.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans %}Confirmation de suppression d'un covoiturage{% endblocktrans %}{% endblock %}

{% block content %}
<div class="well">
    <h3>{% trans 'Voulez-vous vraiment supprimer ce covoiturage ?' %}</h3>
    <div>'{{ object.notes }}'</div>

    <form action="" method="post" role="form">
        {% csrf_token %}

        <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />

        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right">
                {% trans 'Supprimer' %}
            </button>
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>

{% endblock %}
