.weather-description, .post-time {
	font-size: 14px;
	color: #999;
	margin: 0px;
}
.weather.wi {
	font-style: normal;
    font-size: 4.5em;
    margin: 10px 0px;
}
.city-name {
    font-size: 28px;
}
.current-temp {
    font-size: 20px;
}
