@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.weather-description, .post-time {
	font-size: 14px;
	color: #999;
	margin: 0px;
}

.weather-icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
	font-size: 400%;
	font-style: normal;
}

.city-name {
    font-size: 28px;
}

.current-temp {
    font-size: 20px;
}
