{% extends "home/layout_three_columns.html" %}
{% load i18n %}

{% block title %}{{ _('account reclaim)|title }}{% endblock %}

{% block content %}
    <div class="well">
        <p>
        {% trans "You're going to create a Paiji2 account, the following informations will be imported from your Rezo account :" %}
        </p>
        <dl class="dl-horizontal">
            <dt>{{ _('first name')|title }}</dt>
            <dd>{{ utilisateur.prenom }}</dd>
            <dt>{{ _('last name')|title }}</dt>
            <dd>{{ utilisateur.nom }}</dd>
            <dt>{{ _('email')|title }}</dt>
            <dd>{{ utilisateur.email }}</dd>
        </dl>
        {% load bootstrap3 %}
        <form action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-info">
            {{ _('validate')|title }}
            </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
