{% extends "home/layout_three_columns.html" %}

{% load i18n %}
{% load cache %}

{% block title %}{{ _('account info')|title }}{% endblock %}

{% block content %}
{% cache 10 'rezo-user-account' user.pk %}
    <div class="well">
        <h3>{% trans 'Quotas' %}</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ _('download')|title }}</th>
                    <th>{{ _('upload')|title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ _("yesterday's remaining") }}</th>
                    <td>{{ request.user.get_rezo.quotas.restant_veille_in|filesizeformat }}</td>
                    <td>{{ request.user.get_rezo.quotas.restant_veille_out|filesizeformat }}</td>
                </tr>
                <tr>
                    <th>{{ _("today's usage") }}</th>
                    <td>{{ request.user.get_rezo.quotas.conso_in|filesizeformat }}</td>
                    <td>{{ request.user.get_rezo.quotas.conso_out|filesizeformat }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>{{ _("remaining quota") }}</th>
                    <th>{{ request.user.get_rezo.quotas.down_restant|filesizeformat }}</th>
                    <th>{{ request.user.get_rezo.quotas.up_restant|filesizeformat }}</th>
                </tr>
            </tfoot>
        </table>

        <h3>{{ _('registered equipment')|title }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('state')|title }}</th>
                    <th>{{ _('type')|title }}</th>
                    <th>IP</th>
                    <th>{{ _('MAC adresses')|title }}</th>
                    <th>DNS</th>
                </tr>
            </thead>
            <tbody>
                {% for equipement in request.user.get_rezo.equipements.all %}
                <tr>
                    {% if equipement.etat == 'STATE_ACTIVE' %}
                        <td>{{ _('enabled')|title }}</td>
                    {% else %}
                        <td>{{  _('disabled')|title }}</td>
                    {% endif %}
                    <td>{{ equipement.type_equip }}</td>
                    <td>{{ equipement.ip }}</td>
                    <td>
                    {% for mac in equipement.mac.all %}
                    {{ mac.address }} ({{ mac.description }})<br />
                    {% endfor %}
                    </td>
                    <td>{{ equipement.dnsrez }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>{{ _('due')|title }}</h3>
        <table class="table table-striped">
            <thead>
               <tr>
                    <th></th>
                    <th>{{ _('date')|title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ _('expiration')|title }}</th>
                    <td>{{ request.user.expire_on|date:"DATE_FORMAT" }}</td>
                </tr>
            </tbody>
        </table>
        {% trans 'If these informations are false, or if you have unregistered equipment, please contact the Rezo.' %}
        {% if mail_adress %}
            <a href="mailto:{{ mail_adress|urlencode }}">{{ mail_adress }}</a>
        {% endif %}
        </div>
{% endcache %}
{% endblock %}
