{% extends "home/layout_three_columns.html" %}
{% load i18n %}

{% block title %}{% trans 'Récupération de compte' %}{% endblock %}

{% block content %}
    <div class="well">
        <h2>Compte Rézo</h2>
        <p>
		{% blocktrans %}
			Cette page va vous servir à récupérer une interface
			de gestion pour votre compte Rézo si vous en possédez un.
		{% endblocktrans %}
        <br />
        {% blocktrans %}
        Si jamais vous rencontrez le moindre souci durant la
        récupération de votre compte, merci de nous envoyez un mail
        à l'adresse suivante :
        {% endblocktrans %}<br />
        &nbsp;&nbsp;&nbsp;
        <a href="mailto:paiji@metz.supelec.fr">paiji@metz.supelec.fr</a>.
        </p>
        {% if utilisateur != None %}
        <p>
        {% blocktrans %}Il semble que vous soyez le propriétaire du compte de l'utilisateur :{% endblocktrans %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ utilisateur.prenom }} {{ utilisateur.nom }}</b>
        </p>
        <p class="alert alert-danger">
        <b>{% trans 'Ce n&#39;est pas mon compte' %} : </b> {% trans 'contactez-nous.' %}
        </p>
        <h3>{% trans 'Je suis bien propriétaire du compte' %}</h3>
        {% if not email_verifie %}
        <p class="alert alert-danger">
			{% blocktrans %}
            Votre adresse mail (prenom.nom@metz.supelec.fr par défaut) n'est pas encore vérifiée auprès du Rézo!
            Demandez au Rézo de vous envoyer un nouveau lien de confirmation.
            {% endblocktrans %}
        </p>
        {% elif account_registered %}
        <p class="alert alert-danger">
            {% trans 'Votre compte a déjà été enregistré.' %}
        </p>
        {% else %}
        <p>
			{% blocktrans %}
            En confirmant le lien ci-dessous, un email vous sera envoyé vous
            permettant de récupérer votre compte.
            {% endblocktrans %}
        </p>
        <form action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Confirmation</legend>
            <p class="alert alert-info">
            En cliquant sur le bouton suivant, je certifie sur l'honneur être le
            possesseur du compte Rézo attribué à {{ utilisateur.prenom }} {{ utilisateur.nom }}.
            <p>
            <button type="submit" class="btn btn-info pull-right">
                Confirmer
            </button>
        </fieldset>
        </form>
        {% endif %}
        {% else %}
        <p class="alert alert-danger">
        Nous sommes désolés, mais il ne semble pas exister de correspondance.
        </p>
        {% endif %}
    </div>
{% endblock %}

