{% extends "home/layout_three_columns.html" %}
{% load i18n %}

{% block title %}{{ _('account claiming')|title }}{% endblock %}

{% block content %}
    <div class="well">
        <h2>{{ _('Rezo account')|title }}</h2>
        <p>
        {% trans 'This page will enable you to receive a management system interface for your Rezo account if you have one.' %}
        <br />
        {% trans 'If you must face the smaller trouble during your account reclamation, please send us an email to the following address :' %}
        &nbsp;&nbsp;&nbsp;
        <a href="mailto:paiji-dev@rezometz.org">paiji-dev@rezometz.org</a>.
        </p>
        {% if utilisateur != None %}
        <p>
        {% trans 'You seem to possess the following account :' %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ utilisateur.prenom }} {{ utilisateur.nom }}</b>
        </p>
        <p class="alert alert-danger">
        <b>{% trans 'This is not my account' %} : </b> {% trans 'contact us' %}
        </p>
        <h3>{% trans "I am the account's proprietary" %}</h3>
        {% if not email_verifie %}
        <p class="alert alert-danger">
        {% trans 'Your email address (firstname.lastname@supelec.fr by default) is not checked yet by the Rezo ! Ask the Rezo to send you a new confirmation link.' %}
        </p>
        {% elif account_registered %}
        <p class="alert alert-danger">
            {% trans 'Votre compte a déjà été enregistré.' %}
        </p>
        {% else %}
        <p>
        {% trans 'By clicking on the following link, an email will be sent to you enabling you te retrieve your account' %}
        </p>
        <form action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{{ _('confirmation')|title }}</legend>
            <p class="alert alert-info">
            {% blocktrans with FirstName=utilisateur.prenom LastName=utilisateur.nom %}By clicking on the following link, I assure to be the propriatary of the Rezo account of {{ FirstName }} {{ LastName }}.{% endblocktrans %}
            <p>
            <button type="submit" class="btn btn-info pull-right">
            {{ _('confirm')|title }}
            </button>
        </fieldset>
        </form>
        {% endif %}
        {% else %}
        <p class="alert alert-danger">
        {% trans 'We are sorry but there seems to be no match' %}
        </p>
        {% endif %}
    </div>
{% endblock %}

