{% extends "home/layout_three_columns.html" %}

{% block title %}Account Reclaim{% endblock %}

{% block content %}
    <div class="well">
        <h2>Compte Rézo</h2>
        <p>
        Cette page va vous servir à récupérer une interface
        de gestion pour votre compte Rézo si vous en possédez un.
        <br />
        Si jamais vous rencontrez le moindre souci durant la
        récupération de votre compte, merci de nous envoyez un mail
        à l'adresse suivante :<br />
        &nbsp;&nbsp;&nbsp;
        <a href="mailto:paiji@metz.supelec.fr">paiji@metz.supelec.fr</a>.
        </p>
        {% if utilisateur != None %}
        <p>La routine a trouvé une correspondance dans la base de données.</p>
        <p>
        Il semble que vous soyez le propriétaire du compte de l'utilisateur :
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ utilisateur.prenom }} {{ utilisateur.nom }}</b>
        </p>
        <p class="alert alert-danger">
        <b>Ce n'est pas mon compte : </b> contactez-nous.
        </p>
        <h3>Je suis bien propriétaire du compte</h3>
        {% if not email_verifie %}
        <p class="alert alert-danger">
            Vous n'avez jamais l'adresse mail fournie lors de votre inscription
            nous ne pouvons donc nous permettre d'y envoyer une clef de validation.
            Demandez au Rézo de vous envoyer un nouveau lien de confirmation ou
            de changer votre email si vous ne la connaissez pas.
        </p>
        {% elif account_registered %}
        <p class="alert alert-danger">
            Votre compte a déjà été enregistré.
        </p>
        {% else %}
        <p>
            En confirmant le lien ci-dessous, un email vous sera envoyé vous
            permettant de récupérer votre compte.
        </p>
        <form action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Confirmation</legend>
            <p class="alert alert-info">
            En cliquant sur le bouton suivant, je certifie sur l'honneur être le
            possesseur du compte Rézo attribué à {{ utilisateur.prenom }} {{ utilisateur.nom }}.
            <p>
            <button type="submit" class="btn btn-info pull-right">
                Confirmer
            </button>
        </fieldset>
        </form>
        {% endif %}
        {% else %}
        <p class="alert alert-danger">
        Nous sommes désolés, mais il ne semble pas exister de correspondance.
        </p>
        {% endif %}
    </div>
{% endblock %}

