.forum-action {
    font-size: 14px;
}

.forum-icon-selector input[type="radio"]:checked + label {
    background-color: #DBFFEB;
    border: 3px solid #FF8400;
    border-radius: 0.8em;
    padding: 0.5em;
}

.forum-icon-selector label {
    display: inline-block;
}

a.forum-message-title {
    font-weight: bold;
}

a.forum-message-title:visited {
    font-weight: bold;
    color: #FFC121;
}

.forum-text {
    margin-bottom: 0px;
    background-color: #FAFAFA;
}

#forum-question-text {
    background-color: #FFE3F4;
}

#forum-message-text {
    background-color: #DBFFEB;
}

.topic-entry {
    margin-top: 1em;
}

.navbar-forum-message {
    font-size: 10pt;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #DBFFEB;
}

.nav-forum-message {
    margin-top: 0px; 
}

.nav-forum-message li a {
    padding: 0px 0px;
    color: #072;
}

.nav-forum-message li.disabled a {
    padding: 0px 0px;
    color: #FFF;
}
