.forum-icon-selector input[type="radio"]:checked + label {
    background-color: #DBFFEB;
    border: 3px solid #FF8400;
    border-radius: 0.8em;
    padding: 0.5em;
}

.forum-icon-selector label {
    display: inline-block;
}

//.icon-selector input[type="radio"] {
//    display: none;
//}

section.forum-text, #message_h, #question_h{
    background-color: #DBFFEB;
}

section.forum-text, header.forum-topic, header.forum-entry {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

header.forum-topic {
    margin-top: 1em;
}

span.forum-par {
    font-style: italic;
}

span.forum-author {
    font-variant: small-caps;
}

span.forum-date {
    font-style: italic;
    color: #444;
}

a.forum-message-title {
    font-weight: bold;
}
