{% load bootstrap3 %}
{% load i18n %}
{% load profile %}

<ul class="list-unstyled comments">
	{% for comment in comments %}

		<li>

            {% profile_link comment.author %}

            {% if request.user.is_authenticated %}
                <div class="pull-right">
                    {% with subject='[social] '|add:_('About')|add:' : "'|add:comment.content|add:'"' %}
                    {% mail_link comment.author '' subject %}
                    {% endwith %}
                </div>
            {% endif %}

            : {{ comment.content|urlize }}

    		<span class="text-muted">
                <small>
                    {% blocktrans with TimeSince=comment.pubDate|timesince %}{{ TimeSince }} ago{% endblocktrans %}
                </small>
            </span>

        </li>

        <li>
            <hr/>
        </li>

	{% endfor %}

	{% if request.user.is_authenticated and comments|length < 20 %}
        <li>
            <form method="post" action="{% url 'comment-add' on_message.id %}">
                {% csrf_token %}
                {% bootstrap_field form.content show_label=False %}
                {% buttons %}
                    <input style="display:none; position: absolute; left: -9999px; width: 1px; height: 1px;" type="submit" value="Sent" class="btn btn-success" />
                {% endbuttons %}
                <div class="clearfix"></div>
            </form>
        </li>
    {% endif %}
</ul>
