{% extends 'social/group_base.html' %}

{% load i18n %}
{% load profile %}

{% block title %}{% trans 'Members' %}{% endblock %}

{% block content %}

{% regroup members by post__bureau as bureaus %}

<table class="table table-striped table-bordered table-hovered table-condensed">
    <thead>
    </thead>
    <tbody>
        {% for bureau in group.bureaus.all %}
        {% with bureau.members.all as members %}
        {% if members|length > 0 %}
        <tr>
            <th colspan="3">{{ bureau.createdDate.year }}</th>
        </tr>
            {% for member in members %}
        <tr>
            <td>
                {% profile_link member.utilisateur %}
                <small class="text-muted">{{ member.postType }}</small>
            </td>
        </tr>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
