{% extends "home/base.html" %}
{% load bootstrap3 %}

{% block style %}
{{ form.media }}
{% endblock %}

{% block title %}
    {% if form.instance and form.instance.pk %}
    Modify an article
    {% else %}
    Propose an article
    {% endif %}
{% endblock %}

{% block content %}
    <div class="well">
        {% if form.instance and form.instance.pk %}
        <h3>Modifier un article dans newsfeed</h3>
        {% else %}
        <h3>Proposer un article au newsfeed</h3>
        {% endif %}


        {% if request.user.get_related_groups|length > 0 %}
        <form action="{{ request.get_full_path }}" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="annonceur">L'annonceur</label>
                <p>{{ request.user.first_name }} ({{ request.user.email }})</p>
            </div>

            <div class="form-group">
                <label for="group">Group</label>
                {% bootstrap_field form.group show_label=False %}

                <label for="title">Titre du l'article</label>
                {% bootstrap_field form.title show_label=False %}

                <label for="content">Contenu</label>
                <p class="help-block">Envie du coloriage? Faite-vous le plasir!</p>
                {% bootstrap_field form.content show_label=False %}
            </div>

            <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />
            <br />
            {% buttons %}
                <button type="submit" class="btn btn-success pull-right">
                    {% if form.instance and form.instance.pk %}
                        Mettre à jour
                    {% else %}
                        Proposer
                    {% endif %}
                </button>
            {% endbuttons %}
            <div class="clearfix"></div>
        </form>
        {% else %}

        You are not registered as a staff of a group (association/club/listes), please contact rezo or the bureau of your group to register you as a staff.

        {% endif %}
    </div>
{% endblock %}
