{% extends "home/layout_three_columns.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block style %}
{{ form.media }}
{% endblock %}

{% block title %}
    {% if form.instance and form.instance.pk %}
    {% trans 'Edit article' %}
    {% else %}
    {% trans 'Write article' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="well">
        {% if form.instance and form.instance.pk %}
        <h3>{% trans 'Edit article' %}</h3>
        {% else %}
        <h3>{% trans 'Write article' %}</h3>
        {% endif %}


        {% if request.user.get_related_groups|length > 0 %}
        <form action="{{ request.get_full_path }}" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="annonceur">{% trans 'Author' %}</label>
                <p>{{ request.user.first_name }} ({{ request.user.email }})</p>
            </div>

            <div class="form-group">
                <label for="group">{% trans 'Group' %}</label>
                {% bootstrap_field form.group show_label=False %}

                <label for="title">{% trans 'Title' %}</label>
                {% bootstrap_field form.title show_label=False %}

                <label for="title">{% trans 'Visibility option' %}</label>
                {% bootstrap_field form.public show_label=False %}

                <label for="content">{% trans 'Content' %}</label>
                {% bootstrap_field form.content show_label=False %}
            </div>

            <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />
            <br />
            {% buttons %}
                <button type="submit" class="btn btn-success pull-right">
                    {% if form.instance and form.instance.pk %}
                        {% trans 'Save' %}
                    {% else %}
                        {% trans 'Publish' %}
                    {% endif %}
                </button>
            {% endbuttons %}
            <div class="clearfix"></div>
        </form>
        {% else %}

        {% trans 'You are not registered as a staff of a group (association/club/list), please contact rezo or the bureau of your group to register you as a staff.' %}

        {% endif %}
    </div>
{% endblock %}
