{% extends "home/layout_three_columns.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Confirm deleting a piece of news' %}{% endblock %}

{% block content %}
<div class="well">
    <h3>{% trans 'You want to delete this piece of news ?' %}</h3>
    <div><strong>{{ object.title|safe }}</strong></div>
    <br>
    <div><em>{{ object.content|safe }}</em></div>
    <form action="" method="post" role="form">
        {% csrf_token %}

        <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="next" />

        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right">
            {% trans 'delete' %}
            </button>
        {% endbuttons %}
        <div class="clearfix"></div>
    </form>
</div>

{% endblock %}
